<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwpdmIH7Eime7vHk31f0wzrknxyyDiSLw</string>
	<key>GCM_SENDER_ID</key>
	<string>486107437749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velvetjester.spingame</string>
	<key>PROJECT_ID</key>
	<string>velvet-jester-spin</string>
	<key>STORAGE_BUCKET</key>
	<string>velvet-jester-spin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486107437749:ios:91e9129e2658cfc6687cfc</string>
</dict>
</plist>